<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - University Platforms</title>
    <link href="~/Content/Site.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css'>
    <style>
        .navbar {
            background-color: #333;
            overflow: hidden;
        }

        .navbar-brand {
            float: left;
            margin-right: 20px;
        }
        #nbid{
            margin-left:100px;
        }
        .navbar {
            background-color: #021243;
            overflow: hidden;
        }
        
    </style>
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        @*<div class="container">*@
        @*<div class="navbar-header">*@
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
        @*</div>*@
        <div id="nbid" class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
            </ul>
            @Html.ActionLink("Marmara University", "Index", "Home", new { area = "" }, new { @class = "navbar-text navbar-left" })
            @Html.ActionLink("Lecturers", "Index", "Lecturer", new { area = "" }, new { @class = "navbar-text navbar-left" })
            @Html.ActionLink("Students", "Index", "Student", new { area = "" }, new { @class = "navbar-text navbar-left" })
        </div>
        @*</div>*@
    </div>


    <div class="container body-content">
        <div class="row">
            <div class="col-md-12">
                @RenderBody()
            </div>
        </div>

        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - All copy rights reserved.</p>
        </footer>
    </div>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
    
</body>
</html>