@model IEnumerable<UniWebProject.Models.Student>

@{
    ViewBag.Title = "Student";
}

<h2>Students</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            Student Name
        </th>
        <th>
            Department
        </th>
        <th>
            Entry Date
        </th>
        <th>
            Lecturer Name
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @item.StuName
        </td>
        <td>
            @item.Department
        </td>
        <td>
            @item.Entrydate.ToString("dd.MM.yyyy")
        </td>
        <td>
            @item.Lecturer.LecName
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Id }) |
            @Html.ActionLink("Details", "Details", new { id=item.Id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Id })
        </td>
    </tr>
}

</table>
